## Assigning Values to Variables
Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. <b>*The equal sign (=) is used to assign values to variables.*</b>
The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. For example −

In [1]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print(counter)
print(miles)
print(name)

100
1000.0
John

## Multiple Assignment
Python allows you to assign a single value to several variables simultaneously. For example −

In [2]:
a = b = c = 1
a
b
c

1

Here, an integer object is created with the value 1, and all three variables are assigned to the same memory location. You can also assign multiple objects to multiple variables. For example −

In [4]:
a,b,c = 1,2,"john"
a
b
c

'john'

Here, two integer objects with values 1 and 2 are assigned to variables a and b respectively, and one string object with the value "john" is assigned to the variable c.

## Standard Data Types
The data stored in memory can be of many types. For example, a person's age is stored as a numeric value and his or her address is stored as alphanumeric characters. Python has various standard data types that are used to define the operations possible on them and the storage method for each of them.
Python has five standard data types −
- Numbers <br>
- String <br>
- List <br>
- Tuple <br>
- Dictionary <br>

## Python Numbers
Number data types store numeric values. Number objects are created when you assign a value to them. For example −

In [5]:
var1 = 1
var2 = 10
var1

1

You can delete a single object or multiple objects by using the del statement. For example −

In [6]:
del var1, var2
var1

NameError: name 'var1' is not defined

Python supports four different numerical types −
- int (signed integers) <br>
- long (long integers, they can also be represented in octal and hexadecimal) <br>
- float (floating point real values) <br>
- complex (complex numbers) <br>

## Python Strings
Strings in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes. Subsets of strings can be <b>taken using the slice operator ([ ] and [:] ) </b> with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.
The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator. For example −

In [9]:
str = 'Hello World!'

print(str)          # Prints complete string
print(str[0])      # Prints first character of the string
print(str[2:5])     # Prints characters starting from 3rd to 5th
print(str[2:])      # Prints string starting from 3rd character
print(str * 2)      # Prints string two times
print(str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

## Python Lists
Lists are the most versatile of Python's compound data types. A list contains items separated by commas and enclosed within square brackets [  ]. To some extent, lists are similar to arrays in C. One difference between them is that all the items belonging to a list can be of different data type. <br>
<b>The values stored in a list can be accessed using the slice operator ([ ] and [:]) </b> with indexes starting at 0 in the beginning of the list and working their way to end -1. The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator. For example −

In [11]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 3rd 
print(list[2:])      # Prints elements starting from 3rd element
print(tinylist * 2)  # Prints list two times
print(list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

## Python Tuples
A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parentheses. <br>
The main differences between lists and tuples are: **Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated**. Tuples can be thought of as read-only lists. For example −

In [12]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print(tuple)           # Prints complete list
print(tuple[0])        # Prints first element of the list
print(tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print(tuple[2:])       # Prints elements starting from 3rd element
print(tinytuple * 2)   # Prints list two times
print(tuple + tinytuple) # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

The following code is invalid with tuple, because we attempted to update a tuple, which is not allowed. Similar case is possible with lists −

In [8]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

TypeError: 'tuple' object does not support item assignment

## Python Dictionary
Python's dictionaries are kind of hash table type. They work like associative arrays or hashes found in Perl and consist of key-value pairs. **A dictionary key can be almost any Python type, but are usually numbers or strings**. Values, on the other hand, can be any arbitrary Python object. <br>
Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]). For example −

In [9]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print(dict['one'])       # Prints value for 'one' key
print(dict[2])           # Prints value for 2 key
print(tinydict)          # Prints complete dictionary
print(tinydict.keys())   # Prints all the keys
print(tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])